@import "../../assets/scss/variables";

.crypto_info_table_container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  .crypto_info_table {
    border: 2px solid $gray300;
    width: 80%;
    border-radius: 15px;
    border-collapse: separate;
    thead {
      tr {
        th {
          font-size: 1rem;
          font-weight: 700;
          color: $gray900;
          padding: 15px;
          border-bottom: 2px solid $gray300;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        color: $gray900;
        font-size: 1rem;
      }
      &:last-of-type {
        td {
          border: none;
        }
      }
    }
  }
}
